body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "cairo";
    background-color: #003347;
    color: #fff;
    position: relative;
    box-sizing: border-box;
}

h1 {
    font-size: 200px;
}

div {
    position: absolute;
    bottom: 28%;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

div h1 {
    font-size: 70px;
}

div button {
    color: #fff;
    border: none;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px 0;
    transition-duration: 0.5s;
}

div button:hover {
    background-color: #fff;
    color: #003347;
}

.display {
    animation-name: upNow;
    animation-duration: 2s;
    opacity: 1;
}

@keyframes upNow {
    0% {
        bottom: 0;
        opacity: 0.5;
    }
    50% {
        bottom: 50%;
        opacity: 1;
    }
}